{{ ansible_managed | comment }}

[org/gnome/deja-dup]
delete-after=uint32 182
include-list=[{% for k in deja_dup_include_list %}
'{{ k }}'{% if not loop.last %},{% endif %}
{% endfor %}]
exclude-list=[{% for k in deja_dup_exclude_list %}
'{{ k }}'{% if not loop.last %},{% endif %}
{% endfor %}]

[org/gnome/deja-dup/file]
path='davs://{{ owncloud_fqdn }}:443/remote.php/webdav/Backup/{{ ansible_hostname }}'
