{{ ansible_managed | comment }}

[org/gnome/deja-dup/delete-after]
delete-after=uint32 182
exclude-list=['$TRASH','$DOWNLOAD','$DESKTOP','$HOME/.cache','$HOME/.cert','$HOME/.ssh','$HOME/.config/chromium','$HOME/.config/google-chrome','$HOME/.local/share/gnome-boxes/images','$HOME/.local/share/libvirt/images','$HOME/.local/share/Steam/appcache','$HOME/.local/share/Steam/config','$HOME/.local/share/Steam/depotcache','$HOME/.local/share/Steam/package','$HOME/.local/share/Steam/steam','$HOME/.local/share/Steam/steamapps','$HOME/.local/share/Steam/SteamApps','$HOME/.local/share/Steam/tenfoot','$HOME/.local/share/Steam/ubuntu12_32','$HOME/.local/share/Steam/ubuntu12_64','$HOME/.local/share/wineprefixes','$HOME/.mozilla','$HOME/.nv','$HOME/.PlayOnLinux/tmp','$HOME/.PlayOnLinux/wine','$HOME/.PlayOnLinux/wineprefix','$HOME/.ssh','$HOME/.steam','$HOME/.wine']
include-list=['$HOME']
