{{ ansible_managed | comment }}

{% if 'yaourt' in aur.install %}
[org/gnome/shell/extensions/arch-update]
{% if 'sv_SE' in locale_lang %}
update-cmd="gnome-terminal -e 'sh -c \"yaourt -Syua ; echo Klar - Stäng med Retur/Enter; read\" '"
{% else %}
update-cmd="gnome-terminal -e 'sh -c \"yaourt -Syua ; echo Done - Press Enter to exit; read\" '"
{% endif %}
{% endif %}
