{{ ansible_managed | comment }}

[org/gnome/shell/extensions/arch-update]
{% if yaourt.stat.exists %}
update-cmd="gnome-terminal -e 'sh -c \"yaourt -Syua ; echo Done - Press Enter to exit; read\" '"
{% else %}
update-cmd="gnome-terminal -e 'sh -c \"pacman -Syu ; echo Done - Press Enter to exit; read\" '"
{% endif %}
